---
// src/layouts/Base.astro
import "../styles/global.css";
import Seo from "../components/Seo.astro";
import Header from "../components/Header.astro";
import FooterComp from "../components/Footer.astro";
import GTM from "../components/GTM.astro";
import GTMNoscript from "../components/GTMNoscript.astro";

import type { Global } from "../types/strapi";
import type { HeaderType } from "../types/header";
import type { Footer as FooterType } from "../types/footer";

import { strapi, unwrap, mediaUrl } from "../lib/strapi";

let global: Global = {
  siteName: "Big Beautiful Boycott",
  siteDescription: "BBB",
  defaultSeo: {},
};
let header: HeaderType | null = null;
let footer: FooterType = {};

try {
  const globalRes = await strapi("/api/global?populate=*");
  const g = unwrap<Global>(globalRes);
  if (g?.siteName && g?.siteDescription) global = g;
} catch (_) {}

let faviconUrl = "";
try {
  faviconUrl = mediaUrl(
    global?.favicon?.data?.attributes?.url ?? (global as any)?.favicon?.url
  );
} catch (_) {}

try {
  const headerRes = await strapi(
    "/api/header"
    + "?populate[logo][fields][0]=url"
    + "&populate[logo][fields][1]=alternativeText"
    + "&populate[nav][populate]=*"
    + "&populate[ctas][populate]=*"
  );
  header = unwrap<HeaderType>(headerRes) ?? null;
} catch (_) {}

// Footer
try {
  const footerRes = await strapi(
    "/api/footer"
    + "?populate[logo][fields][0]=url"
    + "&populate[logo][fields][1]=alternativeText"
    + "&populate[sections][populate]=*"
    + "&populate[bottom_links]=*"
  );
  footer = (unwrap<FooterType>(footerRes) ?? {}) as FooterType;
} catch (_) {}

const defaultTheme = "bbb-default";
---
<html lang="en" data-theme={defaultTheme}>
  <head>
    <meta charset="utf-8" />
    <script src="/theme.js" is:inline></script>
    <!--<GTM />-->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W2SZFBZM');</script>
    <!-- End Google Tag Manager -->

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />

    <Seo
      siteName={global.siteName}
      siteDescription={global.siteDescription}
      faviconUrl={faviconUrl}
      seo={global.defaultSeo}
    />

    <meta name="theme-color" content="#0e2936" />

  </head>
  <body class="min-h-dvh bg-base-100 text-base-content">
    <!--<GTMNoscript />-->
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2SZFBZM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {header && <Header header={header} />}
    <main class="mx-auto max-w-7xl w-full px-4 py-8">
      <slot />
    </main>
    <FooterComp footer={footer} />
  </body>
</html>
